In [ ]:
1. Create a list called years_list, starting with the year of your birth, and each year 
thereafter until the year of your fifth birthday. For example, if you were born in 1980. 
the list would be years_list = [1980, 1981, 1982, 1983, 1984, 1985].

In [1]:
years_list=[1982,1983,1984,1985,1986,1987]

In [ ]:
2. In which year in years_list was your third birthday? Remember, you were 0 years of age for 
your first year.

In [2]:
years_list[4]

1986

In [ ]:
3.In the years list, which year were you the oldest?

In [3]:
years_list[-1]

1987

In [ ]:
4. Make a list called things with these three strings as elements:
    "mozzarella", "cinderella", "salmonella".

In [6]:
things=[ "mozzarella", "cinderella", "salmonella"]

In [9]:
# 5. Capitalize the element in things that refers to a person and then print the list.
# Did it change the element in the list?
Ans: No

In [8]:
things[1].upper()

'CINDERELLA'

In [10]:
print(things)

['mozzarella', 'cinderella', 'salmonella']

In [11]:
things[1]='xyz'

In [12]:
things

['mozzarella', 'xyz', 'salmonella']

In [13]:
things=[ "mozzarella", "cinderella", "salmonella"]

In [ ]:
6. Make a surprise list with the elements "Groucho," "Chico," and "Harpo."

In [22]:
surprise=["Groucho", "Chico", "Harpo"]

In [ ]:
7. Lowercase the last element of the surprise list, reverse it, and then capitalize it.

In [26]:
surprise[-1][-1::-1].lower().upper()

'OPRAH'

In [ ]:
8. Make an English-to-French dictionary called e2f and print it.
Here are your starter words: dog is chien, cat is chat, and walrus is morse.

In [29]:
e2f={'dog':'chien','cat':'chat','walrus':'morse'}

In [ ]:
9. Write the French word for walrus in your three-word dictionary e2f.

In [31]:
e2f['walrus']

'morse'

In [ ]:
10. Make a French-to-English dictionary called f2e from e2f. Use the items method.

In [39]:
f2e={}
for i in e2f.items():
    a={i[1]:i[0]}
    f2e.update(a)
print(f2e)

{'chien': 'dog', 'chat': 'cat', 'morse': 'walrus'}

In [34]:
e2f.items()

dict_items([('dog', 'chien'), ('cat', 'chat'), ('walrus', 'morse')])

In [ ]:
11. Print the English version of the French word chien using f2e.

In [40]:
print(f2e['chien'])

dog

In [ ]:
12. Make and print a set of English words from the keys in e2f.

In [41]:
a=set(e2f.keys())

In [42]:
a

{'cat', 'dog', 'walrus'}

In [ ]:
13. Make a multilevel dictionary called life. Use these strings for the topmost keys:
    'animals', 'plants', and 'other'. Make the 'animals' key refer to another dictionary 
    with the keys 'cats', 'octopi', and 'emus'. Make the 'cats' key refer to a list of 
    strings with the values 'Henri', 'Grumpy', and 'Lucy'. Make all the other keys refer
    to empty dictionaries.

In [43]:
life={'animals':{'cats':['Henri','Grumpy','Lucy'],'octopi':{},'emus':{}},'plants':{},'other':{}}

In [ ]:
14. Print the top-level keys of life.

In [44]:
life.keys()

dict_keys(['animals', 'plants', 'other'])

In [ ]:
15. Print the keys for life['animals'].

In [45]:
life['animals'].keys()

dict_keys(['cats', 'octopi', 'emus'])

In [ ]:
16. Print the values for life['animals']['cats']

In [46]:
life['animals']['cats']

['Henri', 'Grumpy', 'Lucy']